$m-mobile:500px;
$mobile : 885px;
$mobile-2:950px;
$tablet : 1150px;
$pc : 1200px;



@mixin m-mobile {
    @media (max-width : $m-mobile){
        @content;
    }
}
@mixin mobile {
    @media (max-width : $mobile ){
        @content;
    }
}
@mixin mobile-2 {
    @media (min-width : 886px) and (max-width : $mobile-2){
        @content;
    }
}
@mixin tablet {
    @media (min-width :951px ) and ( max-width :$tablet){
        @content;
    }
}
//pc 화면 크기 1281px 이상
@mixin pc {
    @media (min-width : $pc){
        @content;
    }
}